In [1]:
from zen_pipe import show_table

In [2]:
show_table()

                 Total  New Issues  Backlog  In Progress  Peer Review
Assigned Status
GiuseMSD open        5           0        4            1            0
baker371 open        4           0        4            0            0
lucia15  open        5           0        3            2            0
mnjenga2 open        5           0        5            0            0